<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  
<div class="container">

    <div class="row mt-4 mb-4">
        
            <div class="col-md-7">
                <h2>DO ONE</h2>
            </div>
			<div class="offset-md-3">
				<a class="btn btn-success " href=""> Create New Product</a>
			</div>
        
		
    </div>
   
    
   
    <table class="table table-bordered">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
			<th>Avatar</th>
			<th>Status</th>
            <th width="280px">Action</th>
        </tr>
        
        <tr>
            <td>1</td>
            <td>admin</td>
            <td>admin@gmail.com</td>
			<td></td>
			<td>Active</td>
            <td>
                <form action="" method="POST">
   
                    <a class="btn btn-primary" href="">Edit</a>
   
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   
</body>
</html>