@import url(https://fonts.googleapis.com/css?family=Nunito);
.jconfirm-buttons{
	float: none !important;
	text-align: center;
}

.table-sort{
	cursor: pointer;
}
.table-sort:after{
	content: "\2193";
}
.table-sort:before{
	content: "\2191";
}